asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-cleanup
djangorestframework
idna
oauthlib
paymeuz
Pillow
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
simpy
sqlparse
urllib3
